# EmailJS Configuration
# Get your keys from https://www.emailjs.com/

REACT_APP_EMAILJS_SERVICE_ID=service_prince
REACT_APP_EMAILJS_TEMPLATE_ID=template_emi6hgl
REACT_APP_EMAILJS_PUBLIC_KEY=gM-HqdRojYTQsQUpF
