REACT_APP_EMAILJS_SERVICE_ID=service_prince
REACT_APP_EMAILJS_TEMPLATE_ID=template_emi6hgl
REACT_APP_EMAILJS_PUBLIC_KEY=gM-HqdRojYTQsQUpF

REACT_APP_CONTACT_EMAIL=princevarman615@gmail.com
REACT_APP_CONTACT_PHONE=+8801764587767

